@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/

.header {
  background-color: #EC715F;
  height: 70px;
}

.header-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo-img {
  height: 70px;
  width:auto;
}

.header-nav {
  margin-left: auto;
  line-height: 70px;
}

.nav-item {
  font-size: 16px;
  color: #FAFAFA;
  margin: 30px;
  text-decoration: none;
}

/*main*/

/*main-visual*/

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  z-index: 1;
  color: #FAFAFA;
  text-align: center;
}

.main-visual-title {
  font-size: 64px;
  padding-top: 200px;
}

.main-visual-text {
  font-size: 20px;
  margin-top: 10px;
}

/*content*/

.underline {
  margin: 8px auto 0;
  height: 3px;
  width: 70px;
  background-color: #EC715F;
}

.article-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
}

.article-text {
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}

.article-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}

/*portfolio*/

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-container {
  width: 920px;
}


.portfolio-image-container {
  display: flex;
  width: 920px;
  height: 520px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-img {
  height: 250px;
  width: 300px;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.portfolio-img-1 {
  background-image: url(img/sketch.jpg);
}
.portfolio-img-2 {
  background-image: url(img/websuku.png);
}
.portfolio-img-3 {
  background-image: url(img/write.jpg);
}
.portfolio-img-4 {
  background-image: url(img/webcamp.png);
}
.portfolio-img-5 {
  background-image: url(img/talk.jpg);
}
.portfolio-img-6 {
  background-image: url(img/webcamp-mother.png);
}

/*feature*/

.feature-container {
  width: 980px;
}

.feature-items-container {
  display: flex;
  justify-content: space-between;
}

.feature-strength {
  width: 320px;
}

.feature-strength-icon {
  font-size: 60px;
}

.feature-strength-title {
  font-size: 20px;
  color: #000000;
  padding: 10px;
}

.feature-strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

/*profile*/

.profile {
  background-color: #ECEFF1;
}

.profile-container {
  width: 1024px;
}

.profile-items-container {
  display: flex;
}

.profile-item {
  width: 512px;
}

.profile-img {
  border-radius: 50%;
}

.profile-content {
    text-align: left;
}

.profile-content-head {
  font-size: 20px;
  margin-top: 20px
}

.profile-content-text {
  font-size: 16px;
  margin-top: 5px;
}

/*contact*/

.contact-container {
  width: 800px;
}

.contact-content-container {
  display: flex;
}

.contact-content {
  width: 400px;
  margin-left: 150px;
  text-align: left;
}

.contact-content-head {
  font-size: 20px;
  margin-top: 20px;
}

.contact-address {
  color: #000000;
}

.sns-icon {
  font-size: 50px;
  margin-top: 5px;
  margin-right: 20px;
}

/*footer*/

.footer {
  height: 60px;
  background-color: #EC715F;
}

.footer-text {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}